In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Imports Data
student_data = pd.read_csv("student/student-all.csv")
student_data

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,Math,Language
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,4,1,1,3,6,5,6,6,1,0
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,1,1,3,4,5,5,6,1,0
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,2,2,3,3,10,7,8,10,1,0
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,1,1,5,2,15,14,15,1,0
4,4,GP,F,16,U,GT3,T,3,3,other,...,2,1,2,5,4,6,10,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,644,MS,F,19,R,GT3,T,2,3,services,...,2,1,2,5,4,10,11,10,0,1
1040,645,MS,F,18,U,LE3,T,3,1,teacher,...,4,1,1,1,4,15,15,16,0,1
1041,646,MS,F,18,U,GT3,T,1,1,other,...,1,1,1,5,6,11,12,9,0,1
1042,647,MS,M,17,U,LE3,T,3,1,services,...,5,3,4,2,6,10,10,10,0,1
1043,648,MS,M,18,R,LE3,T,3,2,services,...,1,3,4,5,4,10,11,11,0,1

In [3]:
# Establishes encoder
encoder = OneHotEncoder(sparse = False)

In [5]:
# Defines columns to encode
columns_to_encode = ['school', 'sex', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health']

In [14]:
# Defines new_df for encoding
new_df = student_data.loc[:,columns_to_encode]

# Encodes data
encoded_vals = encoder.fit_transform(new_df)

# Reconfigures data
encoded_df = pd.DataFrame(encoded_vals, columns = encoder.get_feature_names())
encoded_df["age"] = student_data["age"]
encoded_df["failures"] = student_data["failures"]
encoded_df["Math"] = student_data["Math"]
encoded_df["Language"] = student_data["Language"]

target = student_data.loc[:,["G1","G2","G3"]]

In [13]:
# Saves newly configured data
encoded_df.to_csv("data/features.csv")
target.to_csv("data/target.csv")

Unnamed: 0
age
failures
absences
G1
G2
G3
Math
Language